@model MultipleChoicExam.Models.ChangePassword
<div class="container mt-5" style="max-width: 400px;">
    <h2 class="text-center">Đổi mật khẩu</h2>
    <form asp-action="ChangePassword" asp-controller="Home" method="post" class="mt-4">
        <div class="mb-3 mt-3">
            @Html.LabelFor(m => m.UserName, new { @class = "form-label me-2" })
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(mbox => mbox.UserName, null, new { @class = "text-danger" })
        </div>
        <div class="mb-3 mt-3">
            @Html.LabelFor(m => m.CurrentPassword, new { @class = "form-label me-2" })
            @Html.TextBoxFor(m => m.CurrentPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(mbox => mbox.CurrentPassword, null, new { @class = "text-danger" })
        </div>
        <div class="mb-3 mt-3">
            @Html.LabelFor(m => m.NewPassword, new { @class = "form-label me-2" })
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(mbox => mbox.NewPassword, null, new { @class = "text-danger" })
        </div>
        <div class="mb-3 mt-3">
            @Html.LabelFor(m => m.ConfirmNewPassword, new { @class = "form-label me-2" })
            @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control", placeholder="enter new passowrd" })
            @Html.ValidationMessageFor(mbox => mbox.ConfirmNewPassword, null, new { @class = "text-danger" })
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Đổi mật khẩu</button>
        </div>
    </form>
</div>