@model MultipleChoicExam.Models.UserAccount
<div class="text-md-center">
    <h2>Đăng ký tài khoản</h2>
</div>
<div class="container mt-5" style="max-width: 400px;">
    <form asp-controller="Home" asp-action="Register" method="post">
        <div class="card shadow">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="mb-3 mt-3">
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3 mt-3">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3 mt-3">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <button class="btn btn-success" type="submit">Gửi</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
